node_modules
docker/.env.production
build
dist
tsconfig.tsbuildinfo

packages/backend/api-spec.json

packages/frontend/src/redux/api/generated/*
!packages/frontend/src/redux/api/generated/.keepme
!packages/frontend/src/redux/api/generated/.eslintrc


helm/charts