node_modules
docker/.env.production
build
dist
tsconfig.tsbuildinfo

packages/backend/api-spec.json

.vscode
!.vscode/settings.json
!.vscode/jsx.code-snippets

packages/frontend/src/redux/api/generated/*
!packages/frontend/src/redux/api/generated/.keepme