{
  "extends": [
    "plugin:cypress/recommended",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["cypress", "chai-friendly", "@typescript-eslint", "prettier", "import"],
  "env": {
    "browser": false,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-unused-expressions": 0,
    "@typescript-eslint/no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2,
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
