@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.1;
  }
}

@layer base {
  select,
  ::picker(select) {
    appearance: base-select;
  }

  selectedoption .option-label-after-from-data::after {
    @apply hidden;
  }

  .option-label-after-from-data::after {
    content: attr(data-description) !important;
  }

  .backdrop {
    &::backdrop {
      @apply bg-black/0 ease-in;
      transition: all 100ms allow-discrete;
    }

    &:popover-open::backdrop {
      @apply bg-black/50 ease-out;
      transition: all 200ms allow-discrete;
    }

    @starting-style {
      &:popover-open::backdrop {
        @apply bg-black/0;
      }
    }
  }

  .drawer {
    @apply max-lg:translate-y-full lg:translate-x-full;
    transition:
      display 100ms allow-discrete,
      transform 100ms;

    &:popover-open {
      @apply max-lg:translate-y-0 ease-out lg:translate-x-0;
      transition:
        display 200ms allow-discrete,
        transform 200ms;
    }

    @starting-style {
      &:popover-open {
        @apply max-lg:translate-y-full lg:translate-x-full;
      }
    }

    &:popover-open + .popover-open-rotate {
      @apply rotate-45;
    }
  }

  .theme-bg-color {
    @apply bg-white dark:bg-gray-1000;
  }

  .theme-bg-color-with-hover {
    @apply theme-bg-color hover:bg-gray-500/[0.12] dark:hover:bg-gray-500/[0.16];
  }

  .theme-layer-color {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .theme-layer-color-with-hover {
    @apply theme-layer-color hover:bg-gray-100/50 dark:hover:bg-gray-900/50;
  }

  .theme-layer-secondary-color {
    @apply bg-white dark:bg-gray-800;
  }

  .theme-text-primary {
    @apply text-gray-1000 dark:text-gray-100;
  }

  .theme-text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .theme-border-primary {
    @apply border-gray-200 dark:border-gray-800;
  }

  .theme-button-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 active:bg-blue-900;
  }

  .theme-button-secondary {
    @apply theme-layer-color-with-hover theme-text-primary;
  }

  .theme-button-danger {
    @apply bg-red-600 text-white hover:bg-red-700 active:bg-red-800;
  }

  .theme-focus {
    @apply focus-visible:theme-focus-without-prefix;
  }

  .theme-focus-without-prefix {
    @apply outline-none ring ring-blue-600 dark:ring-white;
  }

  .theme-link {
    @apply theme-focus theme-link-without-focus;
  }

  .theme-link-without-focus {
    @apply text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300;
  }

  .theme-field {
    @apply theme-focus theme-layer-color-with-hover border-none theme-text-primary appearance-none;
  }
}
