@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.1;
  }
}

@layer base {
  body:has([data-body-scroll-lock="on"]:popover-open) {
    overflow: hidden;
  }

  body:has([data-body-no-pointer-events="on"]:popover-open) {
    pointer-events: none;
  }

  [data-body-no-pointer-events="on"]:popover-open {
    pointer-events: auto;
  }

  select,
  ::picker(select) {
    appearance: base-select !important;
  }

  ::picker(select) {
    @apply p-2 border rounded-md shadow-none lg:mt-2 theme-border-primary theme-bg-color;
  }

  @media (prefers-color-scheme: dark) {
    body:not(.light *) {
      ::picker(select) {
        @apply border-[#2b2b2b] bg-[#080808];
      }
    }
  }

  .theme-bg-color {
    @apply bg-white dark:bg-[#080808];
  }

  .theme-bg-color-with-hover {
    @apply theme-bg-color hover:bg-gray-500/[0.12] dark:hover:bg-gray-500/[0.16];
  }

  .theme-layer-color {
    @apply bg-gray-100 dark:bg-[#1b1b1b];
  }

  .theme-layer-color-with-hover {
    @apply theme-layer-color hover:bg-gray-100/50 dark:hover:bg-[#1b1b1b]/50;
  }

  .theme-layer-secondary-color {
    @apply bg-white dark:bg-gray-800;
  }

  .theme-text-primary {
    @apply text-gray-1000 dark:text-gray-100;
  }

  .theme-text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .theme-text-tertiary {
    @apply text-gray-400 dark:text-gray-600;
  }

  .theme-border-primary {
    @apply border-gray-200 dark:border-[#2b2b2b];
  }

  .theme-divide-primary {
    @apply divide-gray-200 dark:divide-[#2b2b2b];
  }

  .theme-button-primary {
    @apply text-white bg-blue-600 hover:bg-blue-700 active:bg-blue-900;
  }

  .theme-button-secondary {
    @apply theme-layer-color-with-hover theme-text-primary;
  }

  .theme-button-danger {
    @apply text-white bg-red-600 hover:bg-red-700 active:bg-red-800;
  }

  .theme-focus {
    @apply focus-visible:theme-focus-without-prefix;
  }

  .theme-focus-without-prefix {
    @apply outline-none ring ring-blue-600 dark:ring-white;
  }

  .theme-link {
    @apply theme-focus theme-link-without-focus;
  }

  .theme-link-without-focus {
    @apply text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300;
  }

  .theme-field {
    @apply border-none appearance-none theme-focus theme-layer-color-with-hover theme-text-primary disabled:pointer-events-none disabled:opacity-50;
  }
}
