# This is a basic workflow to help you get started with Actions

name: Lint and build app

on:
  push:
    branches:
      - development
      - production
  pull_request:
    branches:
      - development
      - production
        -
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: ci-build_${{ github.ref }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: "16.14.0"
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm ci -f
      - name: Run frontend lint
        run: npm --prefix frontend run lint
      - name: Run backend lint
        run: npm --prefix backend run lint
      - name: Run frontend build
        run: npm --prefix frontend run build
      - name: Run backend build
        run: npm --prefix backend run tsc
      - name: Run frontend tests
        run: npm --prefix frontend run test
      - name: Run backend tests
        run: npm --prefix backend run test
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          install: false
          start: npm run start:ci
          wait-on: "http://localhost:3000"
          command: npm run cypress:run
